.second-level-container{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.second-level-title{
    font-size: 40px;
}
.second-level-text{
    font-family: 'ViaodaLibre-Regular', sans-serif;
    margin-top: 8px;
    line-height: 24px;
    font-size: 24px;
    padding: 4px;
}