.plane-container{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.plane-title{
    font-size: 40px;
}
.plane-container-item{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 200px;
}
.plane-container-item-letf{
    width: 160px;
}
.plane-container-item-line{
    border-right: 1px solid black;
    height: 245px;
}
.plane-container-item-right{
    width: 160px;
}
.plane-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 24px;
}
.cake{
  background-image: src('../../img/plan/Cake.svg');  
}