.first-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.first-level-container{
    font-family: 'Good Vibes Pro', sans-serif;
    margin-top: 120px;
    display: flex;
    max-width: 420px;
    height: 500px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.first-level-name{
    font-size: 20px;
}
.first-level-containet-date{
    font-size: 40px;
    margin-right: 16px;
    display: flex;
    position: relative;
    animation: 2s showDate ease-out;
    flex-direction: column;
    z-index: 10;
}
@keyframes showDate {
    from { left: -50px;
    opacity: 0;}
    to {left: 0px; opacity: 1;}
}
.image-first-level{
    width: 290px;
    height: 440px;
    object-fit: contain;
    border-radius: 16px;
}
.middle-side-image{
    position: relative;
    animation: 2s showImageEbloUs ease-out;
}
@keyframes showImageEbloUs {
    from { right: -50px;
    opacity: 0;}
    to {right: 0px; opacity: 1;}
}

.image-flower-first-level{
    width: 290px;
    height: 440px;
    object-fit: contain;
    border-radius: 16px;
    position: absolute;
    left: -219px;
    top: 110px;
}

.image-side-flower-first-level{
    width: 290px;
    height: 440px;
    object-fit: contain;
    border-radius: 16px;
    position: absolute;
    top: 175px;
    left: 119px;
}

@keyframes showImageTop {
    from { opacity: 0;}
    to {opacity: 1;}
}

.image-flower-first-level-top{
    width: 290px;
    height: 440px;
    object-fit: contain;
    border-radius: 16px;
    position: absolute;
    top: -160px;
    left: 70px;
    animation: 3s showImageTop ease-out;
}