.first-level-container{
    margin-top: 120px;
    display: flex;
    max-width: 420px;
    height: 500px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.first-level-name{
    font-size: 20px;
}
.first-level-containet-date{
    font-size: 40px;
    display: flex;
    flex-direction: column;
}
.image-first-level{
    width: 290px;
    height: 440px;
    object-fit: contain;
    border-radius: 16px;
}

