.detail-container{
    margin-top: 80px;
}
.detail-title{
    font-size: 40px;
}
.detail-item-container{
    font-family: 'ViaodaLibre-Regular', sans-serif;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
    margin: 16px auto;
    flex-wrap: nowrap;
    align-items: center;
}
.detail-item-item{
    margin-top: 16px;
    font-size: 24px;
}
.detail-item-split{
    margin-top: 16px;
    font-size: 24px;
    content: ''
}