.form-containet{
    margin-top: 100px;
    padding-top: 15px;
}
.form-title{
    font-size: 40px;
    height: 45px;
}
.questions-container{
    font-family: 'ViaodaLibre-Regular', sans-serif;
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.questions-container-item{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.question-title{
    font-size: 16px;
}
.requered::after{
    content: '\FE61';
    color: red;
}
.question-input{
    margin: 8px 0 32px;
    height: 30px;
    width: 400px;
}
.question-radio{
    width: 315px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.radio-item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 8px;
    width: 315px;
}
.radio-text{

}
.question-cheackbox{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cheackbox-item{
    display: flex
    ;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin: 8px;
}

   .input {
    border: solid 1.5px #2d2d2dc4;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #000;
   }

   .btn-submit{
    width: 120px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
   }
   
   input[type=checkbox], input[type=radio] {display: none;}

   input[type=checkbox] + label:before {
       content: "\2713";
       color: transparent;
       display: inline-block;
       border: 1px solid #000;
       font-size: 20px;    
       line-height: 22px;
       margin: -5px 5px 0 0;
       height: 20px;
       width: 20px;
       text-align: center;
       vertical-align: middle;
       transition: color ease .3s;
   }
   
   input[type=checkbox]:checked + label:before {
       color: #000;
   }
   
   input[type=radio] + label:before {
    content: "\2713";
       border: 1px solid #000;
       border-radius: 50%;
       display: inline-block;
       border: 1px solid #000;
       font-size: 20px;    
       line-height: 20px;
       margin: -5px 5px 0 0;
       height: 20px;
       width: 20px;
       text-align: center;
       vertical-align: middle;
       font-size: 0;    
       transition: font-size ease .3s;
   }
   input[type=radio]:checked + label:before {
       font-size: 20px;  

   }
