.dress-code-container{
    margin-top: 100px;
}
.dress-code-title{
    font-size: 40px;
    height: 45px;
}
.dress-code-text{
    font-family: 'ViaodaLibre-Regular', sans-serif;
    font-size: 24px;
    padding: 4px;
    margin-top: 8px;
}
.dress-code-item-container3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 400px;
    height: 400px;
    margin: 16px auto;
    border-radius: 50px;
    align-items: center;
}
.dress-code-color3{
    border-radius: 25px;
    width: 180px;
    height: 180px;
}
.color-first{
    border: 1px solid rgba(207, 199, 191, 1);

}
.color-second{
    border: 1px solid rgba(188, 165, 136, 1);
}
.color-third{
    border: 1px solid rgba(106, 104, 64, 1);
}
.color-fourth{
    border: 1px solid rgba(47, 50, 23, 1);
}
.img-color-container3{

    width: 180px;
    height: 180px;
    border-radius: 25px;
    background-size: auto
}