.dress-code-container{
    margin-top: 100px;
}
.dress-code-title{
    font-size: 40px;
    height: 45px;
}
.dress-code-text{
    font-family: 'ViaodaLibre-Regular', sans-serif;
    font-size: 24px;
    padding: 4px;
    margin-top: 8px;
}
.dress-code-item-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 400px;
    height: 100px;
    margin: 16px auto;
    border: 1px solid #898989;
    border-radius: 50px;
    align-items: center;
}
.dress-code-color{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}